<div id="body">

    <mat-card>
        <mat-card-content>
            <form [formGroup]="loginForm" id="login-form" class="form">
                <h1 class="text-center text-info">Login Form</h1>
                <div>
                    <mat-form-field class="full-width-input">
                        <mat-label>*UserName</mat-label>
                        <input matInput type="text" formControlName="username" name="username" placeholder="Ex. demo@example.com">

                            <mat-error *ngIf="loginForm.get('username').invalid && loginForm.get('username').touched">
                            <div>
                                <mat-error *ngIf="loginForm.get('username').hasError('required')">
                                    <strong>Error!</strong> This field is required.
                                </mat-error>

                                <mat-error *ngIf="loginForm.get('username').hasError('minlength')">
                                    <strong>Error!</strong> This field is required minimum 4 Characters.
                                </mat-error>
                            </div>
                            </mat-error>
                        

                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="full-width-input">
                        <mat-label>*Password</mat-label>
                        <input matInput type="text" formControlName="password" name="password" placeholder="Ex. 12345678">
                        
                            <mat-error *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
                                <div>
                                <mat-error *ngIf="loginForm.get('password').hasError('required')">
                                    <strong>Error!</strong> This field is required.
                                </mat-error>

                                <mat-error *ngIf="loginForm.get('password').hasError('minlength')">
                                    <strong>Error!</strong> This field is required minimum 6 Characters.
                                </mat-error>
                            </div>
                            </mat-error>
                        
                
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <button mat-raised-button color="accent" (click)="clearFun()"
                        class="float-left clearBtn">Clear</button>
                    <button mat-raised-button color="primary" type="submit" (click)="loginFun()" name="submited"
                        class="float-right">Submit</button>

                </div>

                <div id="submit-link">

                </div>
                <div id="forgot-register" class="mt-20px">
                    <a [routerLink]="['/auth/forgotpass']" class="btn text-primary  btn-md">Forgot Password</a>
                    | <a [routerLink]="['/auth/register']" class="btn text-primary btn-md">Registration</a>
                </div>
            </form>
        </mat-card-content>
    </mat-card>

</div>