#body {
    margin: 0;
    padding: 20px;
    background-color: #17a2b8;//#17a2b8
    height: auto;
  }

  mat-card {
    width: 500px;
    height: auto;
    margin: 5em auto;
    text-align: center;
  }
  
  mat-form-field {
    display: block;
    margin-bottom: 10px;

  }
 
  .errorShow{
      color: rgb(192, 99, 99);
    background-color:rgb(255, 192, 203);
    border:1px solid pink;
    border-radius: 5px;
    height: 35px;
    padding: 5px;
  }