#body {
    margin: 0;
    padding: 20px;
    background-color: #17a2b8;//#17a2b8
    height: 700px;
  }

  mat-card {
    width: 500px;
    height: 400px;
    margin: 5em auto;
    text-align: center;
    background-color: #EAEAEA;

  }
  
  mat-form-field {
    display: block;
    margin-bottom: 10px;

  }
 
  