
  .logo {
    padding: 0px 5px;
    font-size: 20px;
  }
  
button{

    margin-right: 3px;
}

div span{
    margin-left:40px;
}

mat-sidenav-container{
    height:80%;
    mat-sidenav{
        background-color: black;
        width:17%;
        
    }
   
   
}
mat-sidenav-content{
    background-color: white;
}
mat-list-item{
    color: white;
}