table {
    width: 99%;
    margin: 10px;

  }
  table th{
      margin-left: 5px;
  }

  img{
      width: 100px;
      height: 100px;
    
  }
  .productColor {
    width: 50px;
    height: 20px;
    border-radius: 10px;
  }